<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--        PLEASE AYAW NI E DELETE KAY MAO NI NA CODE ANG CONNECTION PARA NOTIFICATION KWANGAN PALANG NI MAONG WAPA NI FUNCTION-->
<!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />-->
<!--    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->


    <application
        android:name=".Message.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeopleConnect"
        tools:targetApi="31">

        <!--        PLEASE AYAW NI E DELETE KAY MAO NI NA CODE ANG CONNECTION PARA NOTIFICATION KWANGAN PALANG NI MAONG WAPA NI FUNCTION-->

        <!-- FCM Service is correctly declared here -->
<!--        <service-->
<!--            android:name=".Notifications.FCMService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->

<!--        PLEASE AYAW NI E DELETE KAY MAO NI NA CODE ANG CONNECTION PARA NOTIFICATION KWANGAN PALANG NI MAONG WAPA NI FUNCTION-->
        <!-- Add metadata for default notification channel -->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_channel_id"-->
<!--            android:value="chat_messages" />-->

        <activity
            android:name=".Helper.ImagePreviewActivity"
            android:exported="false" />
        <activity
            android:name=".Message.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".SPrvoider.AddSkillsProviderRate"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SPrvoider.AddSkillsSProvider"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SPrvoider.EmptyLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SPrvoider.SProviderViewPager"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".Client.ClientViewPager"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SPrvoider.SProviderMainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PeopleConnect" />
        <activity
            android:name=".Client.ClientMainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PeopleConnect">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SelectAccount"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Client.C7ChoosingInterestClient"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SPrvoider.SP8BackgroundAuthorizationSProvider"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SPrvoider.SP5LoginSProvider"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SPrvoider.SP6RegisterSProvider"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SPrvoider.SP7ChooseSkillSProvider"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Client.C5LoginClient"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Client.C6RegisterClient"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SPrvoider.SP4Getstarted3SProvider"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SPrvoider.SP3Getstarted2SProvider"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SPrvoider.SP2Getstarted1SProvider"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Client.C4Getstarted3Client"
            android:exported="false"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Client.C3Getstarted2Client"
            android:exported="false"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Client.C2Getstarted1Client"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SPrvoider.SP1WelcomeSProvider"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Client.C1WelcomeClient"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>